.hidden-form {
    display: none;
}

#form-container {
    position: fixed;
    z-index: 999;
    width: 300px; transform: translateX(-150px);
    left: 50vw; top: 200px;
    padding: 20px;
    background-color: white;
    border: solid black;
    border-radius: 10px;
}
#new-project-form{
    display: flex; flex-direction: column;
    align-items: left;
}

form div {
    padding: 5px;
}

.radio-selections {
    display: flex; flex-direction: column;
    padding: 0px;
}
.radio-selections div input{
    vertical-align: middle;
}

.form-header {
    text-align: center;
}