.hidden-form {
    display: none;
}

.hide-todo-form{
    display: none;
}


#form-container{
    position: fixed;
    z-index: 999;
    width: 290px; transform: translateX(-150px);
    left: 50vw; top: 100px;
    background-color: white;
    border-radius: 10px;
}

.todo-form-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(233, 234, 235), rgb(238, 238, 238));
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(192, 191, 191);
    align-items: center;
}

.new-todo-form {
    height: 100%;
    border-radius: 10px;
}

#new-project-form, .new-todo-form{
    display: flex; flex-direction: column;
    align-items: left;
}

form div {
    margin-left: 10px;
    padding: 2px
}

.radio-selections, .todo-radio-selections {
    display: flex; flex-direction: column;
}

.radio-selections div label, .todo-radio-selections div label{
    vertical-align: middle;
    font-weight: 300;
}

.form-title, .todo-form-title{
    text-align: center;
    width: 90px;
    margin-left: 85px;
    font-weight: 600;
    margin-top: 5px;
}

.form-header, .todo-form-header {
    display: flex;
    justify-content: space-between;
}
#exit-form, #close-form {
    width: 25px; height: 25px;
    border-radius: 8px;
    margin: 5px;
    border: none;
    background-color: rgb(213, 213, 213);
}

#submit-btn, #reset-btn {
    width: 70px;
    padding: 5px
}
.form-btns, .todo-form-btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 10px;
}
.form-btns button, .todo-form.btns button {
   font-weight: 500;
}